@media all and (min-width: 768px) {
    .header {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.header__logo img{
    max-width: 75px;
}

.header__nav .nav__link {
    text-decoration: none;
    color: inherit;
    padding: calc(var(--gutter) * .5);
    font-weight: bold;
}

.nav__link {
    background-color: var(--color-primary);
}

.header__nav .nav__link:hover,
.header__nav .nav__link:active,
.header__nav .nav__link:focus {
    background-color: transparent;
    color: white;
}
